@using mvcForum.Web.Helpers
@model mvcForum.Core.ForumUser
@{
    string ns = "mvcForum.Web";
}
@if (ForumHelper.Authenticated())
{
    <div class="netbar-user netbar-right">
        <a href="#">

            @*<img src="https://secure.gravatar.com/avatar/4d39a27c32b079a3faf4282882f0a568?d=mm&amp;s=32" alt="Avatar">*@
            <span>@User.Identity.Name</span>
        </a>
        <ul>
            <li>
                @Html.RouteLink("Profile", "ForumProfilePreferences")
            </li>
            <li>
                @Html.ActionLink("Change Password", "ChangePassword", "Account", new RouteValueDictionary() { { "area", null } }, null)
            </li>
            <li>
                @Html.ActionLink("Log Out", "LogOff", "Account", new RouteValueDictionary() { { "area", null }, { "returnUrl", "/forum" } }, null)
            </li>
        </ul>
    </div>
}
else
{
    @Html.ActionLink("Register", "Register", "Account", new { area = (string)null }, new { @class = "netbar-signin netbar-right" })
    @Html.ActionLink("Log In", "Login", "Account", new { area = (string)null }, new { @class = "netbar-signin netbar-right" })
}    