@model mvcForum.Web.ViewModels.ForumViewModel
@using mvcForum.Web.Helpers;
@{
    var status = Model.Unread ? "forum-row-not-seen-latest-thread" : "forum-row-seen-latest-thread";
}

<tr class="forum-row forum-row-normal @(status)">
    <td class="col-status">
        <span class="forum-state"></span>
    </td>
    <td class="col-forum">
        <h4 class="title">            
            @if (Model.Accessible)
            {
                @Html.ForumLink(Model.Id, Model.Name, new { });
            }
            else
            {
                <a>@Model.Name @ForumHelper.GetString("NoAccess")</a>
            }
        </h4>
        <span class="description">@Model.Description</span>
        
        @if (Model.SubForums != null && Model.SubForums.Any())
        {
            <span class="moderators">Sub forums</span>
            <div class="expandable forum-moderator-panel expanded-by-default">
                @foreach (var forum in Model.SubForums.Select((item, index) => new {item, index}))
                {
                    if (forum.index > 0)
                    {<text>, </text>
                    }
                    @Html.ForumLink(forum.item.Id, forum.item.Name, null);
                }
            </div>
        }

        @*<span class="moderators">Moderators</span>

        <div data-related-button=".moderators-9" class="expandable forum-moderator-panel expanded-by-default" processed="true">
            <a href="/members/Chimera"><span class="user user-role-moderator">Chimera</span></a>, <a href="/members/the9tail"><span class="user user-role-moderator">the9tail</span></a>, <a href="/members/Marice"><span class="user user-role-moderator">Marice</span></a>, <a href="/members/Asuryan"><span class="user user-role-moderator">Asuryan</span></a>, <a href="/members/Snow_King"><span class="user user-role-moderator">Snow_King</span></a>, <a href="/members/Abzeroth"><span class="user user-role-moderator">Abzeroth</span></a>, <a href="/members/TheSithCode"><span class="user user-role-moderator">TheSithCode</span></a>, <a href="/members/Boozor"><span class="user user-role-moderator">Boozor</span></a>, <a href="/members/SanderNightsite"><span class="user user-role-moderator">SanderNightsite</span></a>, <a href="/members/Vultrae"><span class="user user-role-moderator">Vultrae</span></a>, <a href="/members/Sylicas"><span class="user user-role-moderator">Sylicas</span></a>, <a href="/members/FrostyFeetEU"><span class="user user-role-moderator">FrostyFeetEU</span></a>
        </div>*@

    </td>

    <td class="col-last-post">
        @Html.Partial("LastTopicPartial", Model)
    </td>
    <td class="col-count" data-abbr-count="23K" data-count="23,011">@Model.Paging.Count</td>
    <td class="col-count" data-abbr-count="404K" data-count="404,125">@Model.Posts</td>

</tr>
