@model mvcForum.Web.ViewModels.TopicViewModel
@using mvcForum.Web.Helpers;
@using MTDB.Core

@if (Model.LastPosted.HasValue)
{
    @*@ForumHelper.GetHtmlString("LastPost.By", new object[] { Model.LastUsername.Wrap("<a href=\"" + Url.RouteUrl("ShowProfile", new RouteValueDictionary { { "id", Model.LastPostUserId }, { "name", Model.LastUsername.ToSlug() } }) + "\">{#}</a>"), Model.LastPosted.Value.ToUniversalTime() })*@
    <div class="avatar avatar-32 user user-role-registered-user">
        @*<a href="/members/Morpha123">
            <img style="max-width: 32px" src="http://www.gravatar.com/avatar/42860f5c52da157399ce1d04dea2a9f2?d=mm&amp;s=32" alt="Morpha123's avatar" onerror="if (this.src != 'http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y') this.src = 'http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y';">
        </a>*@

        <i class="u-icon u-icon-online"></i>
    </div>

    <div class="post-author">
        by <a href="@Url.RouteUrl("ShowProfile", new RouteValueDictionary { { "id", Model.LastPostUserId }, { "name", Model.LastUsername.ToSlug() } })"><span class="user user-role-registered-user">@Model.LastUsername</span></a>
    </div>
    
    <div class="post-date date">
        <abbr class="tip standard-date standard-datetime" title="@Model.Posted.ToLocalTime().ToString("G")" time-processed="true">@Model.Posted.Relative()</abbr>
        @*@ForumHelper.GetHtmlString("Topic.LastPost", new object[] { Model.Author.Wrap("<a href=\"" + Url.RouteUrl("ShowProfile", new RouteValueDictionary { { "id", Model.AuthorId }, { "name", Model.Author.ToSlug() } }) + "\">{#}</a>"), Model.Posted.ToUniversalTime() })*@
        @*<a class="tip go-latest" title="Go To Latest Post" href="/forums/general/general-discussion/28947-group-therapy-need-to-blow-off-steam-mega-salty?comment=23491"><i class="u-icon u-icon-jump">Go To Latest Post</i></a>*@
    </div>
}
else
{
    @ForumHelper.GetHtmlString("LastPost.NoPost")
}