@using MTDB.Core
@model MTDB.Core.ViewModels.PlayerDto

<div data-id="@Model.Id" class="panel panel-default">
    <div class="panel-heading font-bold">@Model.Name</div>
    <div class="panel-body">
        <a href="@Url.Action("Details", "Player", new {playerUri = Model.UriName})">
            <img src="@Model.ImageUri" class="img-responsive center-block compareCard"/>
        </a>
        <table class="table unstyled text-center playerO">
            <tr>
                <td class="playerOText"><h4>Overall</h4></td>
            </tr>
            <tr>
                <td class="statNum playerONum" style="display: block;">@Model.Overall</td>
            </tr>
        </table>
        <table class="table table-condensed text-right" style="margin: 0;">
            <tbody>
            <tr>
                <td colspan="2" class="text-center">@Html.ActionLink(Model.CollectionName, "Details", new {controller = "collection", groupName = Model.GroupName.ToUri(), name = Model.CollectionName.ToUri()}, new {@class = "authorLink"})</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>@Model.PrimaryPosition / @Model.SecondaryPosition</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>@Model.Age yrs</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>@Model.Weight lbs</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>@Model.Height</td>
            </tr>
            <tr>
                <th><i class="fa fa-shield" style="color: #FFD700;"></i> Gold</th>
                <td>@Model.GoldBadges</td>
            </tr>
            <tr>
                <th><i class="fa fa-shield" style="color: #C0C0C0"></i> Silver</th>
                <td>@Model.SilverBadges</td>
            </tr>
            <tr>
                <th><i class="fa fa-shield" style="color: #D2691E"></i> Bronze</th>
                <td>@Model.BronzeBadges</td>
            </tr>
            <tr>
                <th>XBOX</th>
                <td>@Model.Xbox</td>
            </tr>
            <tr>
                <th>PS4</th>
                <td>@Model.PS4</td>
            </tr>
            <tr>
                <th>PC</th>
                <td>@Model.PC</td>
            </tr>
            </tbody>
        </table>
        @foreach (var category in Model.GroupAverages)
        {
            <h4>
                <span class="statNum">@category.Average</span> @category.Name
            </h4>
            <ul class="statList">
                @foreach (var attribute in Model.Attributes.Where(t => t.CategoryId == category.Id))
                {
                    <li>
                        <span class="statNum" style="">@attribute.Value</span> @attribute.Name
                    </li>
                }
            </ul>
        }
    </div>
</div>

<!-- color of stats -->
<script type="text/javascript">
    var cell = $('[data-id=@Model.Id] .statNum');
    cell.each(function () {
        var cell_value = $(this).html();
        if ((cell_value >= 0) && (cell_value <= 59)) {
            $(this).css({ 'background': '#A52A2A' });
        } else if ((cell_value >= 60) && (cell_value <= 69)) {
            $(this).css({ 'background': '#D2691E' });
        } else if ((cell_value >= 70) && (cell_value <= 79)) {
            $(this).css({ 'background': '#DAA520' });
        } else if ((cell_value >= 80) && (cell_value <= 89)) {
            $(this).css({ 'background': '#008000' });
        } else if (cell_value >= 90) {
            $(this).css({ 'background': '#32CD32' });
        }
    });
</script>