<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8" />
    <title>@(ViewBag.Title != null ? ViewBag.Title : "MTDB NBA 2K17 | My Team Database for NBA 2K17")</title>
    <meta name="description" content="@(ViewBag.Description != null ? ViewBag.Description : "NBA2k17 myTeam,NBA2k17 My Team, NBA2k17 Players, NBA2k17 Database, NBA2k17 Player Database, NBA2k17 Pack Simulator, NBA2k17 Pack Sim, NBA2k17 Player Cards, NBA2k17 Cards, NBA 2k17 myTeam, NBA 2k17 My Team, NBA 2k17 Players, NBA 2k17 Database, NBA 2k17 Player Database, NBA 2k17 Pack Simulator, NBA 2k17 Pack Sim, NBA 2k17 Player Cards, NBA 2k17 Cards, myTeam, My Team, Players, Database, Player Database, Pack Simulator, Pack Sim, Player Cards, Cards")" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="http://cdn.mtdb.com/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="http://cdn.mtdb.com/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="http://cdn.mtdb.com/favicon-180x180.png">
    <meta name="msapplication-TileImage" content="http://cdn.mtdb.com/favicon-270x270.png">    
    @Styles.Render("~/Content/bundle")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/autocomplete")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/ui")
    @Scripts.Render("~/bundles/comments")
</head>
<body>
    @RenderBody()

    @*Application Insights*@
    @*<script type="text/javascript">  var appInsights=window.appInsights||function(config){    function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t    }({        instrumentationKey:"9726db3c-9c4f-4fdd-92f7-1e190a2e95da"    });           window.appInsights=appInsights;    appInsights.trackPageView();</script>*@
</body>
</html>