@using System.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app app-header-fixed app-aside-fixed">

    <!-- header -->
    <header id="header" class="app-header navbar" role="menu">
        <!-- navbar header -->
        <div class="navbar-header bg-dark">
            <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <!-- brand -->
            <a href="~/" class="navbar-brand text-lt">
                <img src="~/Content/Images/mtdb-v2.png" alt=".">
            </a>
            <!-- / brand -->
        </div>
        <!-- / navbar header -->
        <!-- navbar collapse -->
        <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
            <!-- buttons -->
            <div class="nav navbar-nav hidden-xs">
                <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
                    <i class="fa fa-dedent fa-fw text"></i>
                    <i class="fa fa-indent fa-fw text-active"></i>
                </a>
            </div>
            <!-- / buttons -->
            <!-- link and dropdown -->
            <!-- / link and dropdown -->
            <!-- search form -->
            @Html.Partial("_Search")
            <!-- / search form -->
            <!-- nabar right -->
            <ul class="nav navbar-nav navbar-right">
                @*<li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="icon-bell fa-fw"></i>
                            <span class="visible-xs-inline">Notifications</span>
                            <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
                        </a>
                        <!-- dropdown -->
                        <div class="dropdown-menu w-xl animated fadeInUp">
                            <div class="panel bg-white">
                                <div class="panel-heading b-light bg-light">
                                    <strong>You have <span>2</span> notifications</strong>
                                </div>
                                <div class="list-group">
                                    <a href class="list-group-item">
                                        <span class="pull-left m-r thumb-sm">
                                            @*<img src="img/a0.jpg" alt="..." class="img-circle">
                                        </span>
                                        <span class="clear block m-b-none">
                                            Use awesome animate.css<br>
                                            <small class="text-muted">10 minutes ago</small>
                                        </span>
                                    </a>
                                    <a href class="list-group-item">
                                        <span class="clear block m-b-none">
                                            1.0 initial released<br>
                                            <small class="text-muted">1 hour ago</small>
                                        </span>
                                    </a>
                                </div>
                                <div class="panel-footer text-sm">
                                    <a href class="pull-right"><i class="fa fa-cog"></i></a>
                                    <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                                </div>
                            </div>
                        </div>
                        <!-- / dropdown -->
                    </li>*@
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
                        <!-- <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                                  <img src="img/a0.jpg" alt="...">
                                  <i class="on md b-white bottom"></i>
                                </span> -->
                        <span class="hidden-sm hidden-md">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @User.Identity.Name
                            }
                            else
                            {
                                @Html.Raw("Guest")
                            }
                        </span> <b class="caret"></b>
                    </a>
                    <!-- dropdown -->
                    <ul class="dropdown-menu animated fadeInRight w">
                        <!-- <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                            <div>
                                <p>300mb of 500mb used</p>
                            </div>
                            <div class="progress progress-xs m-b-none dker">
                                <div class="progress-bar progress-bar-info" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                            </div>
                        </li> -->
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("Profile", "Profile", "Account")
                            }
                            else
                            {
                                @Html.ActionLink("Login", "Login", "Account")
                            }
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Change Password", "ChangePassword", "Account")
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Register", "Register", "Account")
                            </li>
                        }
                        <li>
                            @Html.ActionLink("Legal", "Legal", "Misc")
                        </li>
                        <!-- <li>
                            <a ui-sref="app.docs">
                                <span class="label bg-info pull-right">new</span>
                                Help
                            </a>
                        </li> -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="divider"></li>
                                <li>
                                    @Html.ActionLink("Logout", "LogOff", "Account")
                                </li>
                        }
                    </ul>
                    <!-- / dropdown -->
                </li>
            </ul>
            <!-- / navbar right -->
        </div>
        <!-- / navbar collapse -->
    </header>
    <!-- / header -->
    <!-- aside -->
    <aside id="aside" class="app-aside hidden-xs bg-dark">
        <div class="aside-wrap">
            <div class="navi-wrap">
                <!-- nav -->
                <nav ui-nav class="navi clearfix">
                    <ul class="nav">
                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span>NBA 2K16</span>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Player")">
                                <i class="fa fa-user text-info-lter"></i>
                                <span class="font-bold">Players</span>
                            </a>
                        </li>
                        @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))*@
                        @*  {*@
                        <li>
                            <a href="@Url.Action("Index", "Collection")">
                                <i class="fa fa-list-ul text-info-lter"></i>
                                <span class="font-bold">Collections</span>
                            </a>
                        </li>
                        @*  {*@
                        <li>
                            <a href="@Url.Action("Index", "Lineup")/">
                                <i class="fa fa-users text-info-lter"></i>
                                <span class="font-bold">Lineups</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Pack")/">
                                <i class="fa fa-gamepad text-info-lter"></i>
                                <span class="font-bold">Pack Simulator</span>
                            </a>
                        </li>
                        @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))*@
                        @*  {*@
                        <li>
                            <a href="@Url.Action("Index", "PlayerUpdate")">
                                <i class="fa fa-bell text-info-lter"></i>
                                <span class="font-bold">Player Updates</span>
                            </a>
                        </li>
                        @* }*@
                        <li>
                            <a href="@Url.Action("Compare", "Player")/">
                                <i class="glyphicon glyphicon-signal text-info-lter"></i>
                                <span class="font-bold">Compare Players</span>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="line dk hidden-folded"></li>

                                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                                    <span>Home Court</span>
                                </li>
                                @*<li>
                                        <a href="page_profile.html">
                                            <i class="icon-bell icon text-info-lter"></i>
                                            <b class="badge bg-info pull-right">3</b>
                                            <span>Recent Updates</span>
                                        </a>
                                    </li>*@
                                <!-- <li>
                                    <a href="mail.html">
                                        <i class="icon-envelope icon text-info-lter"></i>
                                        <b class="badge bg-info pull-right">3</b>
                                        <span>Mail</span>
                                    </a>
                                </li> -->

                                <li>
                                    <a href="@Url.Action("Profile", "Account")/">
                                        <i class="icon-bell icon text-info-lter"></i>
                                        <span class="font-bold">Profile</span>
                                    </a>
                                    @*<a href="page_profile.html">
                                            <i class="icon-user icon text-info-lter"></i>
                                            <b class="badge bg-info pull-right">30%</b>
                                            <span>Profile</span>
                                        </a>*@
                                </li>
                        }
                        <li class="line dk hidden-folded"></li>
                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span>Follow us</span>
                        </li>
                        <li>
                            <a href="https://twitter.com/myteamdb">
                                <i class="fa fa-twitter text-info-lter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- nav -->
            </div>
        </div>
    </aside>
    <!-- / aside -->
    <!-- content -->
    <div id="content" class="app-content" role="main">
        <div class="app-content-body ">

            <div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded=false;app.settings.asideDock=false;">
                <!-- main -->
                <div class="col">
                    @RenderBody()
                    <div class="wrapper-md">
                        <!-- stats -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- ad leaderboard -->
                                <div class="advert">
                                    @if (Convert.ToBoolean(ConfigurationManager.AppSettings["EnableAds"]))
                                    {
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- Responsive Ad 1 -->
                                            <style type="text/css">
                                                .adslot_1 {
                                                    width: 320px;
                                                    height: 50px;
                                                }

                                                @@media (min-width: 400px) {
                                                    .adslot_1 {
                                                        width: 468px;
                                                        height: 60px;
                                                    }
                                                }

                                                @@media (min-width: 1000px) {
                                                    .adslot_1 {
                                                        width: 728px;
                                                        height: 90px;
                                                    }
                                                }
                                            </style>
                                            <ins class="adsbygoogle adslot_1 center-block"
                                                 style="display: block"
                                                 data-ad-client="ca-pub-5458113028612071"
                                                 data-ad-slot="1828475713"
                                                 data-ad-format="auto"></ins>
                                                <script>
                                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                                </script>
                                    }
                                </div>
                                <!-- ad leaderboard -->
                            </div>
                        </div>
                        <!-- / stats -->
                    </div>
                </div>
                <!-- / main -->
                <!-- right col -->
                <div class="col w-xxl bg-white-only b-l bg-auto no-border-xs">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-1">
                            <div class="wrapper-md">
                                @if (Convert.ToBoolean(ConfigurationManager.AppSettings["EnableAds"]))
                                {
    <!-- ad 1 -->
                                    <hr>
                                    <div class="advert">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- website300x250v1 -->
                                        <ins class="adsbygoogle"
                                             style="display: inline-block; width: 300px; height: 250px"
                                             data-ad-client="ca-pub-5458113028612071"
                                             data-ad-slot="7528018513"></ins>
                                        <script>
                                                (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
    <!-- ad 1 -->
    <!-- ad 2 -->

                                        <div class="advert">
                                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                            <!-- website300x250v2 -->
                                            <ins class="adsbygoogle"
                                                 style="display: inline-block; width: 300px; height: 250px"
                                                 data-ad-client="ca-pub-5458113028612071"
                                                 data-ad-slot="9004751715"></ins>
                                            <script>
                                                (adsbygoogle = window.adsbygoogle || []).push({});
                                            </script>
                                        </div>
                                }
                                <!-- ad 2 -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- / right col -->
            </div>

        </div>
    </div>
    <!-- /content -->
    <!-- footer -->
    <footer id="footer" class="app-footer" role="footer">
        <div class="wrapper b-t bg-light">
            <span class="pull-right">2.0.0 <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
            &copy; 2015 mtdb.com | My Team Database, the 2K Logo, NBA Logo, 2K Games Artwork, 2K Games and the 2K Games Logo are among the trademarks of 2K Sports
        </div>
    </footer>
    <!-- / footer -->

</div>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45943120-2', 'auto');
    ga('send', 'pageview');
</script>
@RenderSection("scripts", required: false)