<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8" />
    <title>MTDB NBA 2K16 | My Team Database for NBA 2K16</title>
    <meta name="description" content="NBA2k16 myTeam,NBA2k16 My Team, NBA2k16 Players, NBA2k16 Database, NBA2k16 Player Database, NBA2k16 Pack Simulator, NBA2k16 Pack Sim, NBA2k16 Player Cards, NBA2k16 Cards, NBA 2k16 myTeam, NBA 2k16 My Team, NBA 2k16 Players, NBA 2k16 Database, NBA 2k16 Player Database, NBA 2k16 Pack Simulator, NBA 2k16 Pack Sim, NBA 2k16 Player Cards, NBA 2k16 Cards, myTeam, My Team, Players, Database, Player Database, Pack Simulator, Pack Sim, Player Cards, Cards
          " />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="http://cdn.mtdb.com/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="http://cdn.mtdb.com/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="http://cdn.mtdb.com/favicon-180x180.png">
    <meta name="msapplication-TileImage" content="http://cdn.mtdb.com/favicon-270x270.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/ui")
    @Scripts.Render("~/bundles/comments")
</head>
<body>
    @RenderBody()
</body>
</html>