@model mvcForum.Web.ViewModels.Create.CreateTopicViewModel
@using mvcForum.Web.Helpers;
@{
    ViewBag.Title = ForumHelper.GetString("CreateTopic.Title", new { Title = Model.Forum.Name });
    Layout = Url.GetThemeBaseUrl() + "areas/forums/views/shared/_ForumLayout.cshtml";
}
@section complementary{
    @Html.Partial("Breadcrumb", Model.Path)
}
@section bread {
    @Html.Partial("Breadcrumb", Model.Path)
}
@section forumHeader {
    <h2>@ForumHelper.GetString("CreateTopic.PostNewTopic")</h2>
}

@using (Html.BeginForm("create", "topic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(t => t.ForumId)

    <div class="u-form-tabular">
        
        <div class="form-field form-field-text-field primary">
            <label for="Subject">
                <span title="" class="">
                    Subject
                </span>
            </label>
            @Html.TextBoxFor(t => t.Subject, new {@class = "full-width", size = 128, maxlength = 128})
        </div>

        @if (Model.IsModerator)
        {
            <div class="form-field form-field-model-choice-field`1">
                <label for="field-required-prefix">
                    <span title="" class="">
                        Type
                    </span>
                </label>
                @Html.DropDownListFor(t => t.Type, ForumHelper.GetTopicTypes(Model.Type), new { @class = "full-width" })
            </div>
        }
        else
        {
            @Html.HiddenFor(t => t.Type)
        }
    </div>
    @Html.Partial(ForumHelper.GetEditorString() + "Editor", String.IsNullOrEmpty(Model.Body) ? "" : Model.Body)

    <div class="form-actions form-footer">
        @*@if (Model.CanUpload)
        {
            @Html.LabelFor(t => t.AttachFile)
            <input type="file" id="files" name="files"/>
        }*@
        <div class="form-button-block">
            <input type="submit" accesskey="s" tabindex="6" name="post" value="@ForumHelper.GetString("CreateTopic.Submit")" class="u-button u-button-primary button" />
        </div>
    </div>
}