@model mvcForum.Web.ViewModels.CategoryViewModel
@using mvcForum.Web.Helpers;
@{
	ViewBag.Title = ForumHelper.GetString("Category.Title", new { Name = Model.Name });

	Layout = Url.GetThemeBaseUrl() + "areas/forum/views/shared/forumlayout.cshtml";
}
<!-- Views/Forum/Category.cshtml -->
@Html.Partial("Breadcrumb", Model.Path)

	<span class="pull-right muted">@ForumHelper.GetString("CurrentTime", new object[] { DateTime.UtcNow })</span>

	<h2>@Model.Name</h2>
	<hr />
@if (ForumHelper.Authenticated()) {
	<ul class="list-inline">
		<li>@Html.ActionLink(ForumHelper.GetLinkText("LinkText.MarkAsRead"), "mark as read", "home", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })</li>
	</ul>
}
	<table class="table">
@Html.Partial("CategoryPartial", Model)
	</table>
@if (ForumHelper.Debug) {
<!-- For Selenium Test -->
<div id="forum_category_index" style="display: none;"></div>
}
@Html.Partial("Breadcrumb", Model.Path)
