@using System.Configuration
@using mvcForum.Web.Helpers;
@{
    string ns = "mvcForum.Web";
    string editor = ForumHelper.GetEditorString().ToLower();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="en-gb" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewBag.Title</title>

    <link href="/themes/mtdb/css/compiled.css" rel="stylesheet">
    <link href="/themes/mtdb/css/mtdb.css" rel="stylesheet">
    <link rel="icon" href="http://cdn.mtdb.com/favicon-32x32.png" sizes="32x32">
    <link href="/content/css/markitup/style.css" rel="stylesheet" type="text/css"/>
    @if (editor != "regular")
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/markitup/sets/" + editor + "/style.css")" />
    }
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/markitup/jquery.markitup.js")"></script>
    @RenderSection("styles", false)
</head>
<body class="site body-forum body-forum-index site-hearthpwn site-hearthpwn show-ads body-forum body-forum-index show-ads user-anonymous lang-en site-lang-en template-none skin-light-on-dark responsive-enabled">

    <div id="site" class="fixed single-column">
        <div id="site-main" style="margin-bottom: -292px !important">
            
            @Html.Partial("Header")

            @if (Convert.ToBoolean(ConfigurationManager.AppSettings["EnableAds"]))
            {
                <div class="advert">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- website300x250v1 -->
                    <ins class="adsbygoogle adsbygoogle-responsive"
                         style="display: inline-block;"
                         data-ad-client="ca-pub-5458113028612071"
                         data-ad-slot="7528018513"></ins>
                    <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            }

            <section class="atf" role="complementary">
                <div class="page-region gray-block-wrapper">

                    <div class="page-block ">
                        @Html.Partial("TopNavigation")
                    </div>

                    @RenderSection("complementary", false)

                </div>
            </section>


            <div class="container">
                <div id="content" class="main content-container">
                    <section class="primary-content" role="main">
                        <section class="p-forum p-forum-a s-index">
                            @RenderBody()

                            @if (IsSectionDefined("bread"))
                            {
                                <div class="bread-heel">
                                    <div class="bread">
                                        @RenderSection("bread", false)
                                    </div>
                                </div>
                            }
                        </section>
                    </section>
                </div>
            </div>

            @if (Convert.ToBoolean(ConfigurationManager.AppSettings["EnableAds"]))
            {
                <div class="advert">
                    <!-- website300x250v2 -->
                    <ins class="adsbygoogle adsbygoogle-responsive"
                            style="display: inline-block;"
                            data-ad-client="ca-pub-5458113028612071"
                            data-ad-slot="9004751715"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            }

        </div>
    </div>

    <script type="text/javascript" src="/scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/scripts/markitup/jquery.markitup.js"></script>
	
    @RenderSection("scripts", false)
    @Html.Partial("BottomScripts")
</body>
</html>
