@model mvcForum.Web.ViewModels.Update.UpdateTopicViewModel
@using mvcForum.Web.Helpers;
@{
    ViewBag.Title = ForumHelper.GetString("Title", new { Title = Model.Title }, "mvcForum.Web.EditTopic");
    Layout = Url.GetThemeBaseUrl() + "areas/Forums/Views/shared/_ForumLayout.cshtml";
}
@section complementary{
    @Html.Partial("Breadcrumb", Model.Path)
}
@section bread {
    @Html.Partial("Breadcrumb", Model.Path)
}
@section forumHeader {
    <h2>@ForumHelper.GetString("EditTopic", null, "mvcForum.Web.EditTopic") <span class="header-link">- @Html.RouteLink(Model.Title, "ShowTopic", new RouteValueDictionary { { "id", Model.Id }, { "title", Model.Title.ToSlug() } })</span></h2>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)

    <div class="u-form-tabular">

        <div class="form-field form-field-text-field primary">
            <label for="Title">
                <span title="" class="">
                    Title
                </span>
            </label>
            @Html.TextBoxFor(t => t.Title, new { @class = "full-width", size = 128, maxlength = 128 })
        </div>

        @*if (Model.IsModerator) {
                        <dl style="clear: left;">
                            <dt>@Html.LabelFor(x => x.Type)</dt>
                            <dd>@Html.DropDownListFor(x => x.Type, ForumHelper.GetTopicTypes(Model.Type), new { @class = "inputbox autowidth" })</dd>
                        </dl>
                        <dl style="clear: left;">
                            <dt>@Html.LabelFor(x => x.Flag)</dt>
                            <dd>@Html.DropDownListFor(x => x.Flag, ForumHelper.GetTopicFlags(Model.Flag), new { @class = "inputbox autowidth"})</dd>
                        </dl>
                        <dl>
                            <dt>@Html.LabelFor(x => x.Reason)</dt>
                            <dd>@Html.TextAreaFor(x => x.Reason, new { @class = "inputbox", rows = 5, cols = 76 })</dd>
                        </dl>
    }*@
    </div>
    @Html.Partial(ForumHelper.GetEditorString() + "Editor", String.IsNullOrEmpty(Model.Body) ? "" : Model.Body)

    <div class="form-actions form-footer">
        <div class="form-button-block">
            <input type="submit" accesskey="s" tabindex="6" name="post" value="@ForumHelper.GetString("Submit", null, "mvcForum.Web.EditTopic")" class="u-button u-button-primary button" />
        </div>
    </div>
}