@model MTDB.Core.ViewModels.DraftResultsDto
@{
    ViewBag.Title = "Draft Results";
}

<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">@Model.Name - Draft Results</h1>
        </div>
        <div class="col-sm-6 text-right">
            <div class="inline m-r text-left">
                @Html.ActionLink("Open Packs", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
<!-- / main header -->
<div class="container-fluid playerHero text-center">
    <div class="row blackCover">
        <div class="text-center">
            <img src="~/content/Images/pack.png" class="pack-title">
        </div>
        <div class="cardContainer">
            <ul class="list-unstyled list-inline center-block text-center">

                @foreach (var card in Model.Picked.OrderByDescending(x => x.Overall).Take(5))
                {
                    <li class="fdcardbg">
                        <div class="fdcard">
                            <img src="@card.PlayerImageUri" class="card-img" id="card-img-1">
                            <ul class="list-unstyled list-inline lineup-stats">
                                <li><span class="statNum playerOv">@card.Overall</span><small><strong>OVR</strong></small></li>
                                <li><span class="statNum playerOut">@card.OutsideScoring</span><small><strong>OUT</strong></small></li>
                                <li><span class="statNum playerIn">@card.InsideScoring</span><small><strong>INS</strong></small></li>
                                <li><span class="statNum playerPl">@card.Playmaking</span><small><strong>PLA</strong></small></li>
                                <li><span class="statNum playerAt">@card.Athleticism</span><small><strong>ATH</strong></small></li>
                                <li><span class="statNum playerDe">@card.Defending</span><small><strong>DEF</strong></small></li>
                                <li><span class="statNum playerRe">@card.Rebounding</span><small><strong>REB</strong></small></li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
            <ul class="list-unstyled list-inline center-block text-center fdcard-benched">

                @foreach (var card in Model.Picked.OrderByDescending(x => x.Overall).Skip(5))
                {
                    <li class="fdcardbg">
                        <div class="fdcard">
                            <img src="@card.PlayerImageUri" class="card-img" id="card-img-1">
                            <ul class="list-unstyled list-inline lineup-stats">
                                <li><span class="statNum playerOv">@card.Overall</span><small><strong>OVR</strong></small></li>
                                <li><span class="statNum playerOut">@card.OutsideScoring</span><small><strong>OUT</strong></small></li>
                                <li><span class="statNum playerIn">@card.InsideScoring</span><small><strong>INS</strong></small></li>
                                <li><span class="statNum playerPl">@card.Playmaking</span><small><strong>PLA</strong></small></li>
                                <li><span class="statNum playerAt">@card.Athleticism</span><small><strong>ATH</strong></small></li>
                                <li><span class="statNum playerDe">@card.Defending</span><small><strong>DEF</strong></small></li>
                                <li><span class="statNum playerRe">@card.Rebounding</span><small><strong>REB</strong></small></li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="panel packNav">
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <ul class="list-inline fdScore">
                        <li>
                            <table class="table m-b-none m-t-none center-block">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Final Draft Results
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <h3 class="m-t-none">@Model.Points points</h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <table class="table m-b-none center-block">
                                <thead>
                                    <tr>
                                        <th class="text-center">PG</th>
                                        <th class="text-center">SG</th>
                                        <th class="text-center">SF</th>
                                        <th class="text-center">PF</th>
                                        <th class="text-center">C</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.PGCount</td>
                                        <td>@Model.SGCount</td>
                                        <td>@Model.SFCount</td>
                                        <td>@Model.PFCount</td>
                                        <td>@Model.CCount</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    @Html.ActionLink("New Draft", "CreateDraft", "Pack", null, new { @class = "btn m-b-xs w-xs btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-lg">
    @Html.Partial("~/Areas/NBA2k16/Views/Comments/Comments.cshtml", (string)ViewBag.CommentsPageUrl)
</div>

@section scripts{
    <script type="text/javascript">
        var cell = $('.statNum');
        cell.each(function () {
            var cell_value = $(this).html();
            if ((cell_value >= 0) && (cell_value <= 59)) {
                $(this).css({ 'background': '#A52A2A' });
            } else if ((cell_value >= 60) && (cell_value <= 69)) {
                $(this).css({ 'background': '#D2691E' });
            } else if ((cell_value >= 70) && (cell_value <= 79)) {
                $(this).css({ 'background': '#DAA520' });
            } else if ((cell_value >= 80) && (cell_value <= 89)) {
                $(this).css({ 'background': '#008000' });
            } else if (cell_value >= 90) {
                $(this).css({ 'background': '#32CD32' });
            }
        });
    </script>

}



