@model mvcForum.Web.ViewModels.BoardViewModel
@using mvcForum.Web.Helpers
@{
	ViewBag.Title = ForumHelper.GetString("Board.Title", new { Name = Model.Name });

	Layout = Url.GetThemeBaseUrl() + "areas/forums/views/shared/_ContentLayout.cshtml";
}

@section complementary{
    @Html.Partial("Breadcrumb", Model.Path)
}
@section bread {
    @Html.Partial("Breadcrumb", Model.Path)
}
@section tools {
    @Html.Partial("HomeToolsPartial")
}

<ul class="forum-listing">
    @foreach (var category in Model.Categories)
    {
        <li class="item">
            <header class="h2 caption-forums with-sub-forum with-sub no-nav">
                <h2>@Html.RouteLink(category.Name, "ShowCategory", new RouteValueDictionary { { "id", category.Id }, { "title", category.Name.ToSlug() } })</h2>
                <span class="sub-header"></span>
            </header>
            @Html.Partial("CategoryPartial", category)
        </li>
    }
</ul>
@*<footer class="statistics">


    <!-- Outside Caption -->

    <header class="h2  no-sub no-nav">

        <!-- Navigation -->
        <!-- Main Title -->

        <h2>Forum statistics</h2>


        <!-- Sub title -->


    </header>

    <!-- Inside Caption -->

    <div class="statistics-body">
        <ul class="count covert-list">
            <li class="item"><a href="/members">Members:</a> 933,973</li>
            <li class="item">Threads: 66,260</li>
            <li class="item">Posts: 1,029,046</li>
            <li class="item">Views: 120,707,903</li>
        </ul>
        <ul class="info">

            <li class="item">Newest member: <a href="/members/HearthFyre"><span class="user user-role-registered-user">HearthFyre</span></a> registered <abbr class="tip standard-date standard-datetime" title="01.08.2016 9:33 PM" data-epoch="1470076421" time-processed="true">2 hours ago</abbr></li>

            <li class="item">Most users online: 81,226 (<abbr class="tip standard-date standard-datetime" title="27.04.2016 4:07 PM" data-epoch="1461762479" time-processed="true">Apr 27, 2016</abbr>)</li>
            <li class="item">
                <a href="/members?filter-is-online=y">Online Users:</a> 12,329 (2,189 members and 10,140 guests)

                <div>
                    <a href="/members/Nihilist87"><span class="user user-role-registered-user">Nihilist87</span></a>, <a href="/members/NitroCortex"><span class="user user-role-registered-user">NitroCortex</span></a>, <a href="/members/Rouveen"><span class="user user-role-registered-user">Rouveen</span></a>, <a href="/members/CptPhenomeno"><span class="user user-role-registered-user">CptPhenomeno</span></a>, <a href="/members/u1tras"><span class="user user-role-registered-user">u1tras</span></a>, <a href="/members/FetTERSven"><span class="user user-role-registered-user">FetTERSven</span></a>, <a href="/members/rubley226"><span class="user user-role-registered-user">rubley226</span></a>, <a href="/members/iscaf"><span class="user user-role-registered-user">iscaf</span></a>, <a href="/members/Bluesheep92"><span class="user user-role-registered-user">Bluesheep92</span></a>, <a href="/members/half_cat"><span class="user user-role-registered-user">half_cat</span></a>, <a href="/members/Hadium"><span class="user user-role-registered-user">Hadium</span></a>, <a href="/members/Senbonsakura777"><span class="user user-role-registered-user">Senbonsakura777</span></a>, <a href="/members/denucci"><span class="user user-role-registered-user">denucci</span></a>, <a href="/members/MartinGregstedt"><span class="user user-role-registered-user">MartinGregstedt</span></a>, <a href="/members/Felipecv"><span class="user user-role-registered-user">Felipecv</span></a>, <a href="/members/druidman"><span class="user user-role-registered-user">druidman</span></a>, <a href="/members/migxuu"><span class="user user-role-registered-user">migxuu</span></a>, <a href="/members/Raiian"><span class="user user-role-registered-user">Raiian</span></a>, <a href="/members/jaaiime"><span class="user user-role-registered-user">jaaiime</span></a>, <a href="/members/highendroller3"><span class="user user-role-registered-user">highendroller3</span></a>, <a href="/members/KamikazeRaptor"><span class="user user-role-registered-user">KamikazeRaptor</span></a>, <a href="/members/Givelif2"><span class="user user-role-registered-user">Givelif2</span></a>, <a href="/members/Athalcor"><span class="user user-role-registered-user">Athalcor</span></a>, <a href="/members/Hellzdude37"><span class="user user-role-registered-user">Hellzdude37</span></a>, <a href="/members/faxake"><span class="user user-role-registered-user">faxake</span></a>, <a href="/members/Meckimen"><span class="user user-role-registered-user">Meckimen</span></a>, <a href="/members/GoodDOL"><span class="user user-role-registered-user">GoodDOL</span></a>, <a href="/members/TGRaiden"><span class="user user-role-registered-user">TGRaiden</span></a>, <a href="/members/Frossk"><span class="user user-role-registered-user">Frossk</span></a>, <a href="/members/Prep2Die"><span class="user user-role-registered-user">Prep2Die</span></a>, <a href="/members/johnnycentral1"><span class="user user-role-registered-user">johnnycentral1</span></a>, <a href="/members/PoisonPrince39"><span class="user user-role-registered-user">PoisonPrince39</span></a>, <a href="/members/aSak"><span class="user user-role-registered-user">aSak</span></a>, <a href="/members/raz1230"><span class="user user-role-registered-user">raz1230</span></a>, <a href="/members/Kazu215"><span class="user user-role-registered-user">Kazu215</span></a>, <a href="/members/wallisblue"><span class="user user-role-registered-user">wallisblue</span></a>, <a href="/members/Creyth"><span class="user user-role-registered-user">Creyth</span></a>, <a href="/members/akodojed"><span class="user user-role-registered-user">akodojed</span></a>, <a href="/members/matanp531"><span class="user user-role-registered-user">matanp531</span></a>, <a href="/members/GravitationalWave"><span class="user user-role-registered-user">GravitationalWave</span></a>, <a href="/members/gweenz"><span class="user user-role-registered-user">gweenz</span></a>, <a href="/members/Croderg"><span class="user user-role-registered-user">Croderg</span></a>, <a href="/members/DarthJaraxxus"><span class="user user-role-registered-user">DarthJaraxxus</span></a>, <a href="/members/andoca9679"><span class="user user-role-registered-user">andoca9679</span></a>, <a href="/members/DragoonHounter"><span class="user user-role-registered-user">DragoonHounter</span></a>, <a href="/members/DeadlyMouse2345EU"><span class="user user-role-registered-user">DeadlyMouse2345EU</span></a>, <a href="/members/Felci"><span class="user user-role-registered-user">Felci</span></a>, <a href="/members/DerEchtePixel"><span class="user user-role-registered-user">DerEchtePixel</span></a>, <a href="/members/Nikos_the_great"><span class="user user-role-registered-user">Nikos_the_great</span></a>, <a href="/members/gareth2354"><span class="user user-role-registered-user">gareth2354</span></a>, <a href="/members/DoubleSummon"><span class="user user-role-registered-user">DoubleSummon</span></a>, <a href="/members/BigMaq"><span class="user user-role-registered-user">BigMaq</span></a>, <a href="/members/ripspique"><span class="user user-role-registered-user">ripspique</span></a>, <a href="/members/Froree"><span class="user user-role-registered-user">Froree</span></a>, <a href="/members/thebontakun"><span class="user user-role-registered-user">thebontakun</span></a>, <a href="/members/ArunSawat"><span class="user user-role-registered-user">ArunSawat</span></a>, <a href="/members/Hargren"><span class="user user-role-registered-user">Hargren</span></a>, <a href="/members/duke272"><span class="user user-role-registered-user">duke272</span></a>, <a href="/members/Towelie420420"><span class="user user-role-registered-user">Towelie420420</span></a>, <a href="/members/jralbbuquerque"><span class="user user-role-registered-user">jralbbuquerque</span></a>, <a href="/members/nagyati2613"><span class="user user-role-registered-user">nagyati2613</span></a>, <a href="/members/nagashbg"><span class="user user-role-registered-user">nagashbg</span></a>, <a href="/members/Bromethius11"><span class="user user-role-registered-user">Bromethius11</span></a>, <a href="/members/Iron_Knuckle"><span class="user user-role-registered-user">Iron_Knuckle</span></a>, <a href="/members/Xs3roN"><span class="user user-role-registered-user">Xs3roN</span></a>, <a href="/members/Liamesque"><span class="user user-role-registered-user">Liamesque</span></a>, <a href="/members/czapejro"><span class="user user-role-registered-user">czapejro</span></a>, <a href="/members/majortomaso"><span class="user user-role-registered-user">majortomaso</span></a>, <a href="/members/Vaiden99"><span class="user user-role-registered-user">Vaiden99</span></a>, <a href="/members/ZenithBlade"><span class="user user-role-registered-user">ZenithBlade</span></a>, <a href="/members/BigGlebovski"><span class="user user-role-registered-user">BigGlebovski</span></a>, <a href="/members/TDN_Mike"><span class="user user-role-registered-user">TDN_Mike</span></a>, <a href="/members/fribzer"><span class="user user-role-registered-user">fribzer</span></a>, <a href="/members/Tubly"><span class="user user-role-registered-user">Tubly</span></a>, <a href="/members/LubeLube"><span class="user user-role-registered-user">LubeLube</span></a>, <a href="/members/derekmshaw"><span class="user user-role-registered-user">derekmshaw</span></a>, <a href="/members/DenzelJ"><span class="user user-role-registered-user">DenzelJ</span></a>, <a href="/members/Pauli696"><span class="user user-role-registered-user">Pauli696</span></a>, <a href="/members/42424242z"><span class="user user-role-registered-user">42424242z</span></a>, <a href="/members/RSLpriest"><span class="user user-role-registered-user">RSLpriest</span></a>, <a href="/members/LiamMorg"><span class="user user-role-registered-user">LiamMorg</span></a>, <a href="/members/Cantatrix"><span class="user user-role-registered-user">Cantatrix</span></a>, <a href="/members/TheGreatDenn"><span class="user user-role-registered-user">TheGreatDenn</span></a>, <a href="/members/Saromon15"><span class="user user-role-registered-user">Saromon15</span></a>, <a href="/members/ziggler92"><span class="user user-role-registered-user">ziggler92</span></a>, <a href="/members/rodyan"><span class="user user-role-registered-user">rodyan</span></a>, <a href="/members/sevendarktruths"><span class="user user-role-registered-user">sevendarktruths</span></a>, <a href="/members/300gangang"><span class="user user-role-registered-user">300gangang</span></a>, <a href="/members/Luiz2306"><span class="user user-role-registered-user">Luiz2306</span></a>, <a href="/members/Teckelfan"><span class="user user-role-registered-user">Teckelfan</span></a>, <a href="/members/kaiserzoza"><span class="user user-role-registered-user">kaiserzoza</span></a>, <a href="/members/ScrewableCan"><span class="user user-role-registered-user">ScrewableCan</span></a>, <a href="/members/wrozansk"><span class="user user-role-registered-user">wrozansk</span></a>, <a href="/members/Csizmo"><span class="user user-role-registered-user">Csizmo</span></a>, <a href="/members/Keytranada"><span class="user user-role-registered-user">Keytranada</span></a>, <a href="/members/PayNoHeeds"><span class="user user-role-registered-user">PayNoHeeds</span></a>, <a href="/members/MrHarm"><span class="user user-role-registered-user">MrHarm</span></a>, <a href="/members/Lerpo69"><span class="user user-role-registered-user">Lerpo69</span></a>, <a href="/members/Wildfire393"><span class="user user-role-premium">Wildfire393</span></a>, <a href="/members/CrazyIsMyLife"><span class="user user-role-registered-user">CrazyIsMyLife</span></a>

                    <i>and 2,089 others</i>

                </div>

            </li>
        </ul>
    </div>

</footer>*@

