@model mvcForum.Web.ViewModels.TopicViewModel
@using mvcForum.Web.Helpers;
@{
    ViewBag.Title = ForumHelper.GetString("Topic.Title", new { Title = Model.Title });

    Layout = Url.GetThemeBaseUrl() + "areas/forum/views/shared/_ForumLayout.cshtml";
}

@section complementary{
    @Html.Partial("Breadcrumb", Model.Path)
}
@section bread {
    @Html.Partial("Breadcrumb", Model.Path)
}
@if (Model.CanPost)
{
    @section forumButtons {
        <li class="user-action b-userAction-item user-action-new">
            <a href="#reply">
                <i class="u-icon u-icon-new"></i>
                <span class="label">
                    @ForumHelper.GetString("CreateMessage.PostNewMessage")
                </span>
            </a>
        </li>
    }
}
@if (ForumHelper.Authenticated())
{
    @section forumTools {
        @Html.Partial("TopicToolsPartial")
    }
}

@section forumHeader {
    <h2>@Model.Title</h2>
}

@if (Model.Locked)
{
    @section alerts {
        <p>This thread was marked as Locked.</p>
    }
}
@*<span class="pull-right muted">@ForumHelper.GetString("CurrentTime", new object[] { DateTime.UtcNow })</span>*@

@if (TempData["Feedback"] != null)
{
    @section alerts {
        @foreach (var text in (IEnumerable<MvcHtmlString>)TempData["Feedback"])
        {
            <p>@text</p> 
        }
    }
}

<div class="listing-container listing-container-ul">
    <div class="listing-header">
        @Html.Partial("TopicPagingPartial", Model)
    </div>
    <div class="listing-body">
        <ul class="listing listing-comments p-comments j-comment-listing" data-ajax-set-window-state="true" id="comments" data-row-selector=">li">
            @foreach (var message in Model.Posts)
            {
                @Html.Partial("MessagePartial", message)
            }
        </ul>
    </div>
    <div class="listing-footer">
        @Html.Partial("TopicPagingPartial", Model)
    </div>
</div>

@if (Model.CanPost)
{
    <section id="reply">
        <header class="h2  no-sub no-nav">
            <h2>Reply to this Topic</h2>
        </header>

        @*<span class="help-block">When posting, please be sure that the content of your post does not violate our <a href="/terms">Terms of Service</a>.</span>*@
        @{ Html.RenderAction("QuickCreate", "ExtraMessage", new RouteValueDictionary {{"id", Model.Id}}); }

    </section>
}