@model mvcForum.Web.ViewModels.CategoryViewModel
@using mvcForum.Web.Helpers;
<!-- Views/Forum/CategoryPartial.cshtml -->
		<tbody>
			<tr class="heading">
				<td class="col-md-6" colspan="2">@Html.RouteLink(Model.Name, "ShowCategory", new RouteValueDictionary { { "id", Model.Id }, { "title", Model.Name.ToSlug() } })</td>
				<td class="col-md-1">@ForumHelper.GetString("Labels.Topics")</td>
				<td class="col-md-1">@ForumHelper.GetString("Labels.Posts")</td>
				<td class="col-md-4">@ForumHelper.GetString("Labels.LastPost")</td>
			</tr>
@foreach (var forum in Model.Forums) {
	@Html.Partial("ForumPartial", forum)
}
		</tbody>
