@using MTDB.Core
@model MTDB.Core.ViewModels.CollectionsViewModel

<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">NBA2K16 Collections</h1>
        </div>
    </div>
</div>

<div class="wrapper-md">
    <div class="row">
        <div class="col-md-12">
            <h2>Current</h2>
        </div>
        <div class="row">
            @foreach (var group in @Model.Current.Select(g => g.Group).Distinct())
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>@group</h4>
                        </div>
                        <div class="panel-body">
                            <div class="list-group m-b-none">
                                @foreach (var collection in Model.Current.Where(p => p.Group == group).OrderBy(p => p.Name))
                                {
                                    <a href="@Url.Action("Details", new {groupName = "current", name = collection.Name.ToUri()})" class="list-group-item">
                                        @collection.Name
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Free Agents</h4>
                    </div>
                    <div class="panel-body">
                        <div class="list-group m-b-none">
                            @foreach (var collection in Model.CurrentFreeAgents.OrderBy(p => p.DisplayOrder))
                            {
                                <a href="@Url.Action("Details", new {groupName = "current", name = collection.Name.ToUri()})" class="list-group-item">
                                    @collection.Name
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Dynamic</h2>
        </div>
        <div class="row">
            @foreach (var group in @Model.Dynamic.Select(g => g.Group).Distinct())
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>@group</h4>
                        </div>
                        <div class="panel-body">
                            <div class="list-group m-b-none">
                                @foreach (var collection in Model.Dynamic.Where(p => p.Group == group).OrderBy(p => p.Name))
                                {
                                    <a href="@Url.Action("Details", new {groupName = "dynamic", name = collection.Name.ToUri()})" class="list-group-item">
                                        @collection.Name
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Free Agents</h4>
                    </div>
                    <div class="panel-body">
                        <div class="list-group m-b-none">
                            @foreach (var collection in Model.DynamicFreeAgents.OrderBy(p => p.DisplayOrder))
                            {
                                <a href="@Url.Action("Details", new {groupName = "dynamic", name = collection.Name.ToUri()})" class="list-group-item">
                                    @collection.Name
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <h2>Historic</h2>
        </div>
        <div class="row">
            @foreach (var group in @Model.Historic.Select(g => g.Group).Distinct())
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>@group</h4>
                        </div>
                        <div class="panel-body">
                            <div class="list-group m-b-none">
                                @foreach (var collection in Model.Historic.Where(p => p.Group == group).OrderBy(p => p.Name))
                                {
                                    <a href="@Url.Action("Details", new {groupName = "historic", name = collection.Name.ToUri()})" class="list-group-item">
                                        @collection.Name
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @foreach (var group in @Model.Other.Select(g => g.Group).Distinct())
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>@group</h4>
                        </div>
                        <div class="panel-body">
                            <div class="list-group m-b-none">
                                @foreach (var collection in Model.Other.Where(p => p.Group == group).OrderBy(p => p.DisplayOrder))
                                {
                                    <a href="@Url.Action("Details", new {groupName = group.ToUri(), name = collection.Name.ToUri()})" class="list-group-item">
                                        @collection.Name
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>