@using MTDB.Core.ViewModels
@model MTDB.Core.ViewModels.LineupDto
@{
    ViewBag.Title = "Details";
}

@helper LineupTemplate(LineupPlayerDto player)
{
    <li class="lineup-player chosen">
        <a @(!player.Private || User.IsInRole("Admin") ? Html.Raw("href='" + Url.Action("Details", "Player", new { playerUri = player.Uri }) + "'") : null)>
            <div class="details whitebg">
                <div class="picture">
                    <img src="@player.ImageUri" class="img-responsive center-block">
                </div>
                <div class="lineup-player-details">
                    @*<span class="player-position">- @text -</span>*@
                    <ul class="list-unstyled list-inline lineup-stats">
                        <li><span class="statNum playerOv">@player.Overall</span><small><strong>OVR</strong></small></li>
                        <li><span class="statNum playerOut">@player.OutsideScoring</span><small><strong>OUT</strong></small></li>
                        <li><span class="statNum playerIn">@player.InsideScoring</span><small><strong>INS</strong></small></li>
                        <li><span class="statNum playerPl">@player.Playmaking</span><small><strong>PLA</strong></small></li>
                        <li><span class="statNum playerAt">@player.Athleticism</span><small><strong>ATH</strong></small></li>
                        <li><span class="statNum playerDe">@player.Defending</span><small><strong>DEF</strong></small></li>
                        <li><span class="statNum playerRe">@player.Rebounding</span><small><strong>REB</strong></small></li>
                    </ul>
                </div>
            </div>
        </a>
    </li>
}

<section class="playerHero">
    <div class="blackCover">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="entry-title">@Model.Name</h1>
                    @if ((bool)ViewData["AllowEdit"] || (bool)ViewData["AllowDelete"])
                    {
                        @:( 
                            if ((bool)ViewData["AllowEdit"])
                            {
                                @Html.ActionLink("Edit", "Edit", "Lineup", new { lineupId = Model.Id }, new { @class = "authorLink" })
                            }
                            if ((bool)ViewData["AllowEdit"] && (bool)ViewData["AllowDelete"])
                            {
                                @:\
                            }
                            if ((bool)ViewData["AllowDelete"])
                            {
                                using (Html.BeginForm("Delete", "Lineup",FormMethod.Post, new { id = "formdelete", style = "display: inline;"}))
                                {
                                    @Html.HiddenFor(model => model.Id)
                                    <a id="deleteButton" href="#" class="authorLink">Delete</a>
                                    <script>
                                        $('#deleteButton').click(function() {
                                            if (confirm('Are you sure you want to delete this lineup?')) {
                                                 $('#formdelete').submit();
                                            } return false;
                                        })
                                    </script>
                                }
                            }
                        @:)
                    }
                    <p>
                        Lineup created by <a href="@Url.Action("Profile", "Account", new { username = @Model.Author })" class="authorLink">@Model.Author</a>
                    </p>
                    <hr style="margin: 15px 0; border-top: 1px solid #ccc;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <table class="table unstyled text-center playerO">
                        <tr>
                            <td class="playerOText"><h4>Overall</h4></td>
                        </tr>
                        <tr>
                            <td class="statNum playerONum playerOvAv" style="display: block;">@Model.Overall</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <h4 class="text-center">Averages</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table table-condensed text-right" style="margin: 0;">
                                <tbody>
                                    <tr>
                                        <th>Outside Scoring</th>
                                        <td><span class="statNum playerOutAv">@Model.OutsideScoring</span></td>
                                    </tr>
                                    <tr>
                                        <th>Inside Scoring</th>
                                        <td><span class="statNum playerInAv">@Model.InsideScoring</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-condensed text-right statsTable">
                                <tbody>
                                    <tr>
                                        <th>Playmaking</th>
                                        <td><span class="statNum playerPlAv">@Model.Playmaking</span></td>
                                    </tr>
                                    <tr>
                                        <th>Athleticism</th>
                                        <td><span class="statNum playerAtAv">@Model.Athleticism</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-condensed text-right statsTable">
                                <tbody>
                                    <tr>
                                        <th>Defending</th>
                                        <td><span class="statNum playerDeAv">@Model.Defending</span></td>
                                    </tr>
                                    <tr>
                                        <th>Rebounding</th>
                                        <td><span class="statNum playerReAv">@Model.Rebounding</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / hero -->
<div class="wrapper-lg">
    <div class="row">
        <br>
        <div class="col-md-12">
            <ul class="list-unstyled lineup-starters text-center">

                @if (Model.PointGuard != null)
                {
                    @LineupTemplate(Model.PointGuard)
                }
                @if (Model.ShootingGuard != null)
                {
                    @LineupTemplate(Model.ShootingGuard)
                }
                @if (Model.SmallForward != null)
                {
                    @LineupTemplate(Model.SmallForward)
                }
                @if (Model.PowerForward != null)
                {
                    @LineupTemplate(Model.PowerForward)
                }
                @if (Model.Center != null)
                {
                    @LineupTemplate(Model.Center)
                }
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled lineup-benched text-center">
                @if (Model.Bench1 != null)
                {
                    @LineupTemplate(Model.Bench1)
                }
                @if (Model.Bench2 != null)
                {
                    @LineupTemplate(Model.Bench2)
                }
                @if (Model.Bench3 != null)
                {
                    @LineupTemplate(Model.Bench3)
                }
                @if (Model.Bench4 != null)
                {
                    @LineupTemplate(Model.Bench4)
                }
                @if (Model.Bench5 != null)
                {
                    @LineupTemplate(Model.Bench5)
                }
                @if (Model.Bench6 != null)
                {
                    @LineupTemplate(Model.Bench6)
                }
                @if (Model.Bench7 != null)
                {
                    @LineupTemplate(Model.Bench7)
                }
                @if (Model.Bench8 != null)
                {
                    @LineupTemplate(Model.Bench8)
                }
            </ul>
        </div>
    </div>

    @Html.Partial("~/Areas/NBA2k17/Views/Comments/Comments.cshtml", (string)ViewBag.CommentsPageUrl)

</div>
<!-- / Lineup -->
@section scripts{
    <!-- color of stats -->
    <script type="text/javascript">
        var cell = $('.statNum');
        cell.each(function () {
            var cell_value = $(this).html();
            if ((cell_value >= 0) && (cell_value <= 59)) {
                $(this).css({ 'background': '#A52A2A' });
            } else if ((cell_value >= 60) && (cell_value <= 69)) {
                $(this).css({ 'background': '#D2691E' });
            } else if ((cell_value >= 70) && (cell_value <= 79)) {
                $(this).css({ 'background': '#DAA520' });
            } else if ((cell_value >= 80) && (cell_value <= 89)) {
                $(this).css({ 'background': '#008000' });
            } else if (cell_value >= 90) {
                $(this).css({ 'background': '#32CD32' });
            }
        });
    </script>
    <!-- / color of stats -->
}
