@model mvcForum.Web.ViewModels.Create.CreateTopicViewModel
@using mvcForum.Web.Helpers;
@{
	ViewBag.Title = ForumHelper.GetString("CreateTopic.Title", new { Title = Model.Forum.Name });

	Layout = Url.GetThemeBaseUrl() + "areas/forum/views/shared/forumlayout.cshtml";
}
<!-- Views/Forum/CreateTopic.cshtml -->
@Html.Partial("Breadcrumb", Model.Path)

	<h2>@Model.Forum.Name</h2>

	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm("create", "topic", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" })) {
				@Html.HiddenFor(t => t.ForumId)
				<h3>@ForumHelper.GetString("CreateTopic.PostNewTopic")</h3>
				<div class="form-group">
					@Html.LabelFor(t => t.Subject, new { @class = "col-lg-2 control-label" })
					<div class="col-lg-10">
						@Html.TextBoxFor(t => t.Subject, new { @class = "form-control" })
					</div>
				</div>
if (Model.IsModerator) {
				<div class="form-group">
					@Html.LabelFor(t => t.Type, new { @class = "col-lg-2 control-label" })
					<div class="col-lg-10">
						@Html.DropDownListFor(t => t.Type, ForumHelper.GetTopicTypes(Model.Type), new { @class = "form-control" })
					</div>
				</div>
}
else {
						@Html.HiddenFor(t => t.Type)
}

				<div class="form-group">
					<label for="editor" class="col-lg-2 control-label">@ForumHelper.GetString("CreateTopic.Message", null, "mvcForum.Web")</label>
					<div class="col-lg-10">
						@Html.Partial(ForumHelper.GetEditorString() + "Editor", String.IsNullOrEmpty(Model.Body) ? "" : Model.Body)
					</div>
				</div>
	if (Model.CanUpload) {
				<div class="form-group">
					<label for="files" class="col-lg-2 control-label">@ForumHelper.GetString("CreateTopic.AttachFile", null, "mvcForum.Web")</label>
					<div class="col-lg-10">
						<input type="file" id="files" name="files" class="btn" />
					</div>
				</div>
	}
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-primary">@ForumHelper.GetString("CreateTopic.Submit")</button>
					</div>
				</div>
			}
		</div>
	</div>
@if (ForumHelper.Debug) {
<!-- For Selenium Test -->
<div id="forum_topic_create" style="display: none;"></div>
}

@section scripts {
	@Html.Partial(ForumHelper.GetEditorString() + "Scripts", String.IsNullOrEmpty(Model.Body) ? "" : Model.Body)
}
@section styles {
	@Html.Partial(ForumHelper.GetEditorString() + "Styles", String.IsNullOrEmpty(Model.Body) ? "" : Model.Body)
}