@model mvcForum.Web.ViewModels.ForumViewModel
@using mvcForum.Web.Extensions;
@using mvcForum.Web.Helpers;
@{
    var iconName = String.Empty;
    if (Model.Unread)
    {
        iconName += "forum_unread";
    }
    else
    {
        iconName += "forum_read";
    }
    iconName += ".gif";

    var subForumList = String.Empty;
    if (Model.SubForums != null)
    {
        foreach (var site in Model.SubForums.Select((item, index) => new { item, index }))
        {
            if (site.index > 0)
            {
                subForumList += ", ";
            }
            subForumList += Html.ForumLink(site.item.Id, site.item.Name, null);
        }
    }
}

@*<li class="row">
    <dl class="icon" style="background-image: url(@Url.Content("~/content/img/forum/" + iconName)); background-repeat: no-repeat;">
        <dt title="No unread posts">
            @if (Model.Accessible)
            {
                @Html.ForumLink(Model.Id, Model.Name, new { @class = "forumtitle" });
            }
            else
            {
                <a class="forumtitle">@Model.Name @ForumHelper.GetString("NoAccess")</a>
            }
            <br />@Model.Description
            @if (Model.SubForums != null && Model.SubForums.Count() > 0)
            {
                <br /><text>Sub forums: </text>@Html.Raw(subForumList)
            }
        </dt>
        <dd class="topics">@Model.Paging.Count<dfn>@ForumHelper.GetString("TopicCount")</dfn></dd>
        <dd class="posts">@Model.Posts <dfn>@ForumHelper.GetString("PostCount")</dfn></dd>
        <dd class="lastpost">@Html.Partial("LastTopicPartial", Model)</dd>
    </dl>
</li>*@


<tr class="forum-row forum-row-normal forum-row-not-seen-latest-thread">
    <td class="col-status without-icon">
        <span class="j-mark-forum-read status-icon tip forum-general-discussion">
            <span class="state"></span>
        </span>
    </td>
    <td class="col-forum">
        <h4 class="title">            
            @if (Model.Accessible)
            {
                @Html.ForumLink(Model.Id, Model.Name, new { });
            }
            else
            {
                <a>@Model.Name @ForumHelper.GetString("NoAccess")</a>
            }
        </h4>
        <span class="description">@Model.Description</span>

        @*<span class="moderators">Moderators</span>

        <div data-related-button=".moderators-9" class="expandable forum-moderator-panel expanded-by-default" processed="true">
            <a href="/members/Chimera"><span class="user user-role-moderator">Chimera</span></a>, <a href="/members/the9tail"><span class="user user-role-moderator">the9tail</span></a>, <a href="/members/Marice"><span class="user user-role-moderator">Marice</span></a>, <a href="/members/Asuryan"><span class="user user-role-moderator">Asuryan</span></a>, <a href="/members/Snow_King"><span class="user user-role-moderator">Snow_King</span></a>, <a href="/members/Abzeroth"><span class="user user-role-moderator">Abzeroth</span></a>, <a href="/members/TheSithCode"><span class="user user-role-moderator">TheSithCode</span></a>, <a href="/members/Boozor"><span class="user user-role-moderator">Boozor</span></a>, <a href="/members/SanderNightsite"><span class="user user-role-moderator">SanderNightsite</span></a>, <a href="/members/Vultrae"><span class="user user-role-moderator">Vultrae</span></a>, <a href="/members/Sylicas"><span class="user user-role-moderator">Sylicas</span></a>, <a href="/members/FrostyFeetEU"><span class="user user-role-moderator">FrostyFeetEU</span></a>
        </div>*@

    </td>

    <td class="col-last-post">
        @Html.Partial("LastTopicPartial", Model)
        @*<div class="avatar avatar-32 user user-role-registered-user">
            <a href="/members/ameateye">
                <img style="max-width: 32px" src="http://media-Hearth.cursecdn.com/avatars/thumbnails/297/45/32/32/636022153558049301.png" alt="ameateye's avatar" onerror="if (this.src != 'http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y') this.src = 'http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y';">
            </a>

            <i class="u-icon u-icon-online"></i>

        </div>

        <div class="post-title forum-thread forum-thread-typical forum-thread-normal forum-thread-poll"><a href="/forums/hearthstone-general/general-discussion/166396-at-the-start-of-the-game-mechanic/unread" title="At the start of the game mechanic">At the start of the game ...</a></div>
        <div class="post-author">by <a href="/members/ameateye"><span class="user user-role-registered-user">ameateye</span></a></div>
        <div class="post-date date">
            <abbr class="tip standard-date standard-datetime" title="01.08.2016 9:32 PM" data-epoch="1470076360" time-processed="true">2 hours ago</abbr>
            <a class="tip go-latest" title="Go to last post" href="/forums/hearthstone-general/general-discussion/166396-at-the-start-of-the-game-mechanic?comment=22"><i class="u-icon u-icon-jump">Go to last post</i></a>
        </div>*@

    </td>
    <td class="col-count" data-abbr-count="23K" data-count="23,011">@Model.Paging.Count</td>
    <td class="col-count" data-abbr-count="404K" data-count="404,125">@Model.Posts</td>

</tr>
